#banner {
  width: 100%;
  height: 300px;
  background-position: center;
  border-radius:5px;
}

#sidebar {
  position: relative;
  width: 200px;
}

#navbar {
  width: 100%;
  display: block;
}

#nav-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#nav-links ul {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
}

#page-content {
  border: 2px solid #19180a;
  float: right;
  width: 74%;
  margin-bottom: 10px;
  background-color: #646246;
  color: #FFFDD0;
  border-radius:5px
}

#nav-links {
  color: red;
}

@font-face {
  font-family: ACFilmstrip; 
  src: url(./ACFilmstrip.otf); 
}

h1 {
text-align:center;
font-size: 120px;
color: #19180a;
font-family: ACFilmstrip;
}

h2 {
text-align:center;
letter-spacing: 20%;
font-size: 30px;
  color: #19180a;
}
  
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(144,141,100);
}

table {
  width: 90%;
  margin: 20px auto;
  background-color: #3f220f;
  color: #FFFDD0;
  border: 2px solid #19180a;
}

th {
  background-color: #772014;
  color: #FFFDD0;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #19180a;
}

table td a {
  color: #af4319;
}

table td a:visited {
  color: #772014;
}

td h3 {
  font-size: 20px;
  margin: 0;
}

#footer {
  width:100%; 
  text-align: center; 
  border-radius:5px;
  clear:both; 
  background:#19180a;
  color:#FFFDD0; 
  border-bottom:5px solid #af4319; 
  padding: 2px; 
  margin: 0 auto; 
  margin-top:50px;
}
